{% extends 'base.html'  %}

{% block content %}
 
<h1 style="text-align:center" >Contact Us</h1>

<form method="POST" action=".">
    {% csrf_token %}
    <label>Name</label>
    <input type="text" name="Name" class="form-control" placeholder="Enter your Name">
    <label>Email</label>
    <input type="text" name="Email" class="form-control" placeholder="Enter your Email">
    <label>Message</label>
    <textarea type="text" name="Message" class="form-control" placeholder="Enter your Message"></textarea><br>
    <input  type="submit" value="Contact" class="btn btn-default">
</form>

{% endblock %}